{include file="common/head"/}
<script>
    var ADMIN = '__ADMIN__';
</script>
<div class="layui-fluid">
    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item layadmin-flexible" lay-unselect>
                        <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="/" target="_blank" title="首页">
                            <i class="layui-icon layui-icon-website"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;" layadmin-event="refresh" title="刷新">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" id="cache"  title="清除缓存">
                            <i class="layui-icon layui-icon-delete"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;" layadmin-event="fullscreen" title="全屏">
                            <i class="layui-icon layui-icon-screen-full"></i>
                        </a>
                    </li>
                </ul>
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;" class="admin-header-user">
                            <img src="{$admin['avatar']|default='__ADMIN__/images/avatar.png'}" class="layui-nav-img" />
                            <span>{$admin['username']}</span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a  lay-href="{:createUrl('auth/adminedit')}?ids={$auth->id}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>个人中心
                                </a>
                                <a href="{:createUrl('index/logout')}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>退出登录
                                </a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo" style="background-image: url('{:config("setting.admin_logo")}');" onclick="top.location.href='{:createUrl('index')}';"></div>
                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                        {$menus|raw}
                    </ul>
                </div>
            </div>
            <div class="layadmin-pagetabs" id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:;"></a>
                            <dl class="layui-nav-child layui-anim-fadein">
                                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                        <li lay-id="{:createUrl('main')}" lay-attr="{:createUrl('main')}" class="layui-this">
                            <i class="layui-icon layui-icon-home"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 主体内容 -->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show">
                    <iframe src="{:createUrl('main')}" frameborder="0" class="layadmin-iframe"></iframe>
                </div>
            </div>
            <div class="layui-footer">
                <!-- 底部固定区域 -->
                © 2015-{:date('Y')} {:config('setting.web_name')}
            </div>
            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>
</div>
{include file="common/foot"/}
<script>
    layui.config({
        base: '__STATIC__/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','jquery'],function () {
        var $=layui.jquery;
        //监听添加
        $('#edits').on('click',function () {
            layer.open({
                title:'个人资料',
                type:2,
                maxmin: true,
                content:"{:createUrl('agent/personal')}?ids={$auth->id}",
                area:['700px','460px'],
                end:function(){
                    tableIn.reload();
                }
            });
        });
        //监听添加
        $('#sites').on('click',function () {
            layer.open({
                title:'分站设置',
                type:2,
                maxmin: true,
                content:"{:createUrl('agent/setting')}?ids={$auth->id}",
                area:['700px','460px'],
                end:function(){
                    tableIn.reload();
                }
            });
        });
        $('#cache').click(function () {
            layer.confirm('你确定要清除缓存吗？',function(index){
                layer.close(index);
                $.post('{:createUrl("index/clear")}',function (res) {
                    if (res.status===200){
                        layer.msg(res.msg,{time: 1800, icon: 1},function () {
                            top.location.reload();
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            })
        });
    });
</script>
</body>
</html>