{include file="common/head"/}
<style>
.layui-table-cell{height: inherit;}
</style>
<div class="layui-fluid">
    <div class="admin-head">
        <ul>
            <li class="on">助力记录</li>
        </ul>
    </div>
    <div class="table-body">
        <table id="list" lay-filter="list"></table>
    </div>
</div>

{include file="common/foot"/}

<script>
    layui.use(['table','element','form','laydate'],function(){
        var table = layui.table, $ = layui.jquery,laydate = layui.laydate,form=layui.form,element = layui.element;
        var tableIn = table.render({
            id: 'list',
            elem: '#list',
            url: '{:createUrl("zlist")}',
            toolbar:'#table-toolbar',
            method:'get',
            page:true,
            cols: [[
                {field: 'id',title:'ID',align:'center',width:80},
                {field: 'title',title:'资源名称',width:380},
                {field: 'pnickname',title: '被助力用户',align:'center'},
                {field: 'nickname',title: '助力用户',align:'center'},
                {field: 'ctime',title: '助力时间',align:'center'},
            ]]
        });
        
    })
</script>