{include file="common/head"/}
<div class="layui-fluid">
    <div class="table-body">
       <div class="layui-card-header">{$title}</div>
       <div class="layui-card" style="padding-top:10px;">
            <form class="layui-form layui-form-pane" lay-filter="formbar">
                <input type="hidden" name="row[id]" value="{$row['id']}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline from-inline-3">
                        <div class="layui-text">{$row['username']}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">登录密码</label>
                    <div class="layui-input-inline from-inline-3">
                        <input type="password" name="row[password]" autocomplete="off" placeholder="登录密码为空表示不修改" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属用户组</label>
                    <div class="layui-input-inline from-inline-3">
                        <select name="row[group_id]" lay-verify="required" lay-filter="groups">
                            {volist name="groups" id="v"}
                                <option value="{$v['id']}" {eq name="$row['group_id']" value="$v.id"}selected{/eq}>{$v['title']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户头像</label>
                    <div class="layui-input-inline from-inline-3">
                        <input type="hidden" name="row[avatar]" id="thumb" value="{$row['avatar']}">
                        <div class="layui-upload">
                            <div class="layui-upload-list" id="uploadImg" style="cursor: pointer;">
                                <img class="layui-upload-img" width="76" height="76" src="{$row['avatar']|default='__ADMIN__/images/default.png'}" id="Image">
                                <p id="preview"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">主资源库授权码</label>
                    <div class="layui-input-inline from-inline-3">
                        <div style="display: flex;align-items: center;">
                            <input type="text" name="row[master_token]" id="master_token" value="{$row['master_token']}" placeholder="{:lang('pleaseEnter')}主资源库接口令牌" class="layui-input">
                            <button type="button" id="createToken" class="layui-btn" style="margin-left:5px;">自动生成</button>
                        </div>
                        <div class="layui-word-aux" style="padding-top:5px;">多开站点同步本站资源需要获得此处授权码</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号码</label>
                    <div class="layui-input-inline from-inline-3">
                        <input type="number" name="row[mobile]" value="{$row['mobile']}" placeholder="{:lang('pleaseEnter')}手机号码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系邮箱:</label>
                    <div class="layui-input-inline from-inline-3">
                        <input type="text" name="row[email]" value="{$row['email']}" placeholder="{:lang('pleaseEnter')}联系邮箱" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                        <a href="{:createUrl('adminlist')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
                    </div>
                </div>
            </form>
       </div>
    </div>
</div>
{include file="common/foot"/}
<script>
    layui.use(['form', 'layer', 'upload'], function () {
        var form = layui.form,$= layui.jquery;
        $("#uploadImg").on('click',function(){
            layer.open({
                title:'选择头像',
                type:2,
                maxmin: true,
                area:['80%','500px'],
                content:'{:createUrl("attachment/index")}?type=0&name=thumb&prename=Image',
            });
        });
        $('#createToken').on('click',function (){
            var token=randomChar(24);
            $('#master_token').val(token);
        });
        function randomChar(length) {
            // 所有可能的字符
            let result='';
            const characters = 'abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            const charactersLength = characters.length;
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("",data.field, function (res) {
                layer.close(loading);
                if(res.status==200){
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });

    });
</script>