{include file="common/head"/}
<script>
    var manage_Image="{:createUrl('Ueditor/index')}";
</script>
<body>
	<div class="layui-fluid">
		<div class="table-body">
			<form class="layui-form layui-form-pane">
				<div class="layui-form-item">
					<label class="layui-form-label">父级</label>
					<div class="layui-input-inline">
						<select name="pid" class="layui-select" lay-search>
							<option value="0">顶级</option>
							{$sortSelect|raw}
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">名称</label>
					<div class="layui-input-inline">
					  <input type="text" name="name" lay-verify="required" placeholder="请输入分类名称" autocomplete="off" class="layui-input" value="{$info.name}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">图标</label>
					<div class="layui-input-inline from-inline-7">
						<div style="display: flex;align-items: center;">
							<input type="text" lay-verify="required" lay-reqText="图标" class="layui-input" placeholder="{:lang('pleaseEnter')}图标链接" name="thumb" id="thumb" value="{$info.thumb}">
							<button type="button" class="layui-btn" id="uploadImg" style="margin-left:5px;"><i class="icon icon-tupian_huaban"></i> 选择图标</button>
						</div>
						<div class="layui-upload">
							<div class="layui-upload-list">
								<img class="layui-upload-img" width="86" height="86" src="{$info.thumb}" id="Image">
								<p id="preview"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-block">
					  <input type="radio" name="status" value="1" title="启用" {if $info.status==1}checked{/if}>
					  <input type="radio" name="status" value="0" title="禁用" {if $info.status==0}checked{/if}>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">排序</label>
					<div class="layui-input-inline">
					  <input type="text" name="indexid" lay-verify="required" placeholder="数字升序" autocomplete="off" class="layui-input" value="{$info.indexid}">
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="sub">立即提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{include file="common/foot"/}
<script>
layui.use(['element','form'], function(){
  var $ = layui.jquery,element = layui.element,form = layui.form; //Tab的切换功能，切换事件监听等，需要依赖element模块
  	form.on('submit(sub)', function(data){
		loading = layer.load(1, { shade: [0.1, '#fff'] });
		$.post('',data.field,function(res) {
			layer.close(loading);
			if (res.status === 200){
				layer.msg(res.msg, { icon: 1, time: 1000 }, function () {
					var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
					parent.layer.close(index);//再执行关闭
				});
			} else {
				layer.msg(res.msg, { icon: 2, time: 1000 });
			}
		});
	  return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
	$("#uploadImg").on('click',function(){
		layer.open({
			title:'上传图标',
			type:2,
			maxmin: true,
			area:['80%','500px'],
			content:'{:createUrl("attachment/index")}?type=0&name=thumb&prename=Image',
		});
	});
});
</script>
</body>
