{include file="common/head"/}
<div class="layui-fluid">
    <div class="admin-head">
        <ul>
            <li class="on">跳转列表</li>
        </ul>
    </div>
    <div class="table-body">
        <div class="search-tool">
            <form class="layui-form">
                <div class="layui-inline">
                   <input type="text" class="layui-input" placeholder="检索日期" id="ondate" style="width:200px;">
                    <span class="item-icon"><i class="layui-icon layui-icon-date"></i></span>
                </div>
                <div class="layui-inline">
                    <select id="onstatus" lay-filter="onstatus">
                        <option value="">全部状态</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" class="layui-input" placeholder="标题" id="search" style="width:200px;" />
                    <span class="item-icon" id="onsearch"><i class="icon icon-search"></i></span>
                </div>
            </form>
            <div class="func-btn" id="func-btn">
                <a href="javascript:;" class="add layui-btn layui-bg-blue layui-btn-small">
                    <i class="layui-icon layui-icon-addition"></i>
                    {:lang('add')}跳转
                </a>
            </div>
        </div>
        <table id="list" lay-filter="list"></table>
    </div>
</div>

{include file="common/foot"/}
<script type="text/html" id="action">
    <a lay-event="edit" class="layui-btn layui-btn-sm">
        <i class="layui-icon layui-icon-edit"></i>
        {:lang('edit')}
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>
        {:lang('del')}
    </a>
</script>
<script type="text/html" id="status">
{{# if(d.status==1){ }}
        <span class="green">启用</span>
    {{# }else{ }}
        <span class="gray">禁用</span>
    {{# } }}

</script>
<script type="text/html" id="table-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-danger" lay-event="delAll"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
    </div>
</script>
<script>
    var dateVal='',statusVal='',searchVal='';
    layui.use(['table','element','form','laydate'],function(){
        var table = layui.table, $ = layui.jquery,laydate = layui.laydate,form=layui.form;
        var tableIn = table.render({
            id: 'list',
            elem: '#list',
            url: '{:createUrl("index")}',
            toolbar:'#table-toolbar',
            method:'get',
            page:true,
            response:{
                statusName:'status',
                statusCode:200,
                msgName:'msg',
                countName:'total',
                dataName:'data',
            },
            cols: [[
                {type: 'checkbox',title:'ID',align:'center',width:50},
                {field: 'id',title: 'ID',align:'center',width:60},
                {align:'center',title: '跳转类型',width:100,templet:function(d){
                        if(d.type==1){
                            return '外部链接';
                        }else if(d.type==2){
                            return '小程序';
                        }
                    }},
                {field: 'thumb',align:'center',title: '封面',width:120,templet:function(d){
                    return '<a href="'+d.thumb+'" target="_blank"><img  src="'+d.thumb+'" width="32" height="32"/></a>';
                }},
                {field: 'name',title: '跳转标题',width:260},
                {field: 'desc',align:'center',title: '简介',width:200},
                {align:'center',title: '跳转地址(appid)',width:200,templet:function(d){
                    if(d.type==1){
                        return d.url;
                    }else if(d.type==2){
                        return d.url+'('+d.appid+')';
                    }
                }},
                {field: 'status',align: 'center',title: '{:lang("status")}',width: 100,toolbar: '#status'},
                {field: 'ctime_text', align: 'center',title: '添加时间',width:150},
                {align: 'center',toolbar:'#action',width:200}
            ]]
        });
        //选择日期
        laydate.render({
            elem: '#ondate',
            range: '-',
            done:function(value, date, endDate){
                dateVal=value, statusVal=$('#onstatus').val(),searchVal=$('#search').val();
                var params='';
                if(statusVal) params='{"status":"'+statusVal+'"}';
                table.reload('list',{
                    where:{
                        date:dateVal,
                        search:searchVal,
                        filter:params
                    }
                });
            }
        });
        //下拉选项
        form.on('select(onstatus)', function(data){
            dateVal=$('#ondate').val(),statusVal=data.value,searchVal=$('#search').val();
            var params='';
            if(statusVal) params='{"status":"'+statusVal+'"}';
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:params
                }
            });
        });
        //搜索关键字
        $('#onsearch').on('click',function(e){
            console.log(e);
            dateVal=$('#ondate').val(),statusVal=$('#onstatus').val(),searchVal=$('#search').val();
            var params='';
            if(statusVal) params='{"status":"'+statusVal+'"}';
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:params
                }
            });
        });
        //监听添加
        $('#func-btn .add').on('click',function () {
            layer.open({
                title:'添加跳转',
                type:2,
                maxmin: true,
                content:'{:createUrl("add")}',
                area:['90%','580px'],
                end:function(){
                    tableIn.reload();
                }
            });
        });
        //启用禁用
        form.on('switch(status)',function(data){
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            var status=data.elem.value===1 ? 0 : 1;
            $.post('{:createUrl("setUp")}',{'ids':data.elem.id,'params':'{"status":"'+status+'"}'},function(res){
                layer.close(loading);
                if(res.status ===200){
                    data.elem['value']=status;
                    return false;
                }else{
                    layer.msg('操作失败！', {time: 1000, icon: 2});
                    return false;
                }
            });
        });
        //行列表操作项事件
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定删除吗',{icon: 3},function(index){
                    $.post("{:createUrl('del')}",{data:{0:data}},function(info){
                        if(info.status==200){
                            layer.msg(info.msg,{anim:0},function(){
                                tableIn.reload();
                            });
                        }else{
                            layer.msg(info.msg);
                        }                        
                    });
                });
            }else if(obj.event === 'edit'){
                layer.open({
                    title:'编辑跳转',
                    type:2,
                    maxmin: true,
                    content:'{:createUrl("edit")}?ids='+data.id,
                    area:['90%','580px'],
                    end:function(){
                        tableIn.reload();
                    }
                });
                
            }
        });
        //头工具栏事件批量操作---删除
        table.on('toolbar(list)', function(obj){
            var checkStatus = table.checkStatus('list');
            var ids = [];
            $(checkStatus.data).each(function (i, o){
                ids.push(o.id);
            });
            if(ids.length===0){
               return false;
            }
            switch(obj.event){
                case 'delAll':
                    layer.confirm('确定删除吗',{icon: 3},function(index){
                        $.post("{:createUrl('del')}",{data:checkStatus.data},function(info){
                            if(info.status==200){
                                layer.msg(info.msg,{anim:0},function(){
                                    tableIn.reload();
                                });
                            }else{
                                layer.msg(info.msg);
                            }
                        });
                    });
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':

                    break;
            }
        });
    })
</script>