{include file="common/head"/}
<body>
	<div class="layui-fluid">
		<div class="table-body">
			<form class="layui-form layui-form-pane">
				<div class="layui-form-item">
					<label class="layui-form-label">社群名称</label>
					<div class="layui-input-inline from-inline-6">
					  <input type="text" name="name" lay-verify="required" lay-reqText="请输入社群名称" placeholder="{:lang('pleaseEnter')}社群名称" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">社群简介</label>
					<div class="layui-input-inline from-inline-6">
					  <input type="text" name="desc" lay-verify="required" lay-reqText="请输入社群简介" placeholder="{:lang('pleaseEnter')}社群简介" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
                    <label class="layui-form-label">社群封面</label>
                    <div class="layui-input-inline from-inline-6">
                        <input type="hidden" lay-verify="required" lay-reqText="请选择社群封面" name="thumb" id="thumb" value="">
                        <div class="layui-upload">
                            <div class="layui-upload-list" id="onUpload" style="cursor: pointer;">
                                <img class="layui-upload-img" width="86" height="86" src="__ADMIN__/images/default.png" id="Image">
                                <p id="preview"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">社群二维码</label>
                    <div class="layui-input-inline from-inline-6">
                        <input type="hidden" lay-verify="required" lay-reqText="请输入社群二维码" name="url" id="url" value="">
                        <div class="layui-upload">
                            <div class="layui-upload-list" id="wxUpload" style="cursor: pointer;">
                                <img class="layui-upload-img" width="86" height="86" src="__ADMIN__/images/default.png" id="Image1">
                                <p id="preview1"></p>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="layui-form-item">
					<label class="layui-form-label">过期时间</label>
					<div class="layui-input-inline from-inline-5">
						<input type="text" name="exp_time" lay-verify="required" placeholder="请选择过期时间" autocomplete="off" class="layui-input" id="test1">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-block">
						<input type="radio" name="status" value="1" title="上线" checked>
						<input type="radio" name="status" value="0" title="下线">
					</div>
				</div>
				<div class="layui-form-item" style="padding-top: 10px;">
					<div class="layui-input-block">
					  <button type="submit" class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{include file="common/foot"/}   
<script>
layui.use(['element','form','laydate'], function(){
	var $ = layui.jquery,element = layui.element,form = layui.form,upload = layui.upload,laydate=layui.laydate; //Tab的切换功能，切换事件监听等，需要依赖element模块
	form.on('submit(sub)', function(data){
		loading = layer.load(1, { shade: [0.1, '#fff'] });
		$.post('',data.field,function(res) {
			layer.close(loading);
			if (res.status == 200){
				layer.msg(res.msg, { icon: 1, time: 1000 }, function () {
					var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
					parent.layer.close(index);//再执行关闭
				});
			} else {
				layer.msg(res.msg, { icon: 2, time: 1000 });
			}
		});
	  return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
	$("#onUpload").on('click',function(){
		layer.open({
			title:'上传封面',
			type:2,
			maxmin: true,
			area:['80%','500px'],
			content:'{:createUrl("attachment/index")}?type=0&name=thumb&prename=Image',
		});
	});
	$("#wxUpload").on('click',function(){
		layer.open({
			title:'上传社群码',
			type:2,
			maxmin: true,
			area:['80%','500px'],
			content:'{:createUrl("attachment/index")}?type=0&name=url&prename=Image1',
		});
	});
  laydate.render({
    elem: '#test1',
    type: 'datetime'
  });
});
</script>
</body>
