@font-face {
  font-family: "icon"; /* Project id 1357310 */
  src: url('iconfont.woff2?t=1744016242721') format('woff2'),
       url('iconfont.woff?t=1744016242721') format('woff'),
       url('iconfont.ttf?t=1744016242721') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video:before {
  content: "\e860";
}

.icon-shipinkc:before {
  content: "\e680";
}

.icon-wangpan:before {
  content: "\e681";
}

.icon-yinpinkc:before {
  content: "\e833";
}

.icon-cdkey:before {
  content: "\e750";
}

.icon-VIP:before {
  content: "\e690";
}

.icon-drag:before {
  content: "\e67e";
}

.icon-setting2:before {
  content: "\e676";
}

.icon-lock:before {
  content: "\ec26";
}

.icon-yunying:before {
  content: "\e68b";
}

.icon-guanggao:before {
  content: "\e67d";
}

.icon-ziyuan3:before {
  content: "\e8a4";
}

.icon-dingdan:before {
  content: "\e78a";
}

.icon-market:before {
  content: "\e677";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-h5:before {
  content: "\e660";
}

.icon-baidu:before {
  content: "\e669";
}

.icon-mini:before {
  content: "\e66e";
}

.icon-ziliaoku:before {
  content: "\e657";
}

.icon-duosucai:before {
  content: "\e658";
}

.icon-qunzuduoren:before {
  content: "\e6d6";
}

.icon-qushiyanshi:before {
  content: "\e6f8";
}

.icon-weixiu:before {
  content: "\e659";
}

.icon-shixianshujubianxian:before {
  content: "\e65a";
}

.icon-iconleijiguanzhu:before {
  content: "\e65b";
}

.icon-icon:before {
  content: "\e65c";
}

.icon-ziyuan1:before {
  content: "\e65d";
}

.icon-book1:before {
  content: "\e65e";
}

.icon-jishushichang:before {
  content: "\e65f";
}

.icon-kehuqunzu:before {
  content: "\e675";
}

.icon-wodekehu:before {
  content: "\e67c";
}

.icon-group_fill:before {
  content: "\e7f4";
}

.icon-jishuwendang:before {
  content: "\e661";
}

.icon-food:before {
  content: "\e662";
}

.icon-ziyuan2:before {
  content: "\e663";
}

.icon-weixiubeijing:before {
  content: "\e664";
}

.icon-kehuguanli:before {
  content: "\e6ef";
}

.icon-dengji:before {
  content: "\e665";
}

.icon-wenxianliutong:before {
  content: "\e666";
}

.icon-diqiu-:before {
  content: "\e667";
}

.icon-tuiguangxinxi:before {
  content: "\e668";
}

.icon-photo:before {
  content: "\e875";
}

.icon-woguanzhudetougu:before {
  content: "\e72a";
}

.icon-fufei:before {
  content: "\e6a3";
}

.icon-ziyuanguanli:before {
  content: "\e74d";
}

.icon-zuqun_jiaose:before {
  content: "\e66a";
}

.icon-task:before {
  content: "\e66d";
}

.icon-dailishang:before {
  content: "\e66c";
}

.icon-shuji:before {
  content: "\e6b7";
}

.icon-read:before {
  content: "\e89e";
}

.icon-buju:before {
  content: "\ea00";
}

.icon-Njifenxiao-1:before {
  content: "\e789";
}

.icon-tequan:before {
  content: "\e74c";
}

.icon-ruanjian:before {
  content: "\e689";
}

.icon-diannao:before {
  content: "\e720";
}

.icon-leimu31:before {
  content: "\e649";
}

.icon-sousuo:before {
  content: "\e652";
}

.icon-gonggao:before {
  content: "\e678";
}

.icon-shipin:before {
  content: "\e64b";
}

.icon-ziyuan:before {
  content: "\e6af";
}

.icon-tupian_huaban:before {
  content: "\e691";
}

.icon-wenzhang_huaban:before {
  content: "\e64e";
}

.icon-lunbotu:before {
  content: "\e64f";
}

.icon-fuzhuxian:before {
  content: "\e653";
}

.icon-changjingfenzu:before {
  content: "\e654";
}

.icon-daohangzu:before {
  content: "\e6c3";
}

.icon-wenzhangfenlei:before {
  content: "\e6c7";
}

.icon-wenbenyu:before {
  content: "\e6c9";
}

.icon-ziyuan386:before {
  content: "\e655";
}

.icon-leimu2:before {
  content: "\e66b";
}

.icon-tixian1:before {
  content: "\e647";
}

.icon-liulan:before {
  content: "\e63c";
}

.icon-whitelist:before {
  content: "\e6e2";
}

.icon-icons_order:before {
  content: "\e642";
}

.icon-icon-test:before {
  content: "\e63d";
}

.icon-jine:before {
  content: "\e63e";
}

.icon-zhekouyouhui:before {
  content: "\e63f";
}

.icon-order:before {
  content: "\e640";
}

.icon-WhiteBoard:before {
  content: "\e643";
}

.icon-zhekou:before {
  content: "\e645";
}

.icon-shouru:before {
  content: "\e646";
}

.icon-shitu:before {
  content: "\e68e";
}

.icon-workorder-done-o:before {
  content: "\e98b";
}

.icon-workorder-add-o:before {
  content: "\e98c";
}

.icon-order-collection:before {
  content: "\ea2a";
}

.icon-ranking:before {
  content: "\e788";
}

.icon-usb:before {
  content: "\e864";
}

.icon-flow:before {
  content: "\e6e8";
}

.icon-zhiboguanli:before {
  content: "\e63a";
}

.icon-yunzhibo:before {
  content: "\e63b";
}

.icon-w_luxiang:before {
  content: "\e674";
}

.icon-live:before {
  content: "\e679";
}

.icon-live1:before {
  content: "\e67a";
}

.icon-qrcode:before {
  content: "\f08d";
}

.icon-chat:before {
  content: "\e6e3";
}

.icon-add2:before {
  content: "\e638";
}

.icon-tianjia:before {
  content: "\e639";
}

.icon-biaoqing:before {
  content: "\e637";
}

.icon-kucun:before {
  content: "\e62f";
}

.icon-close1:before {
  content: "\e650";
}

.icon-shrink-right:before {
  content: "\e62e";
}

.icon-next:before {
  content: "\e64c";
}

.icon-prev:before {
  content: "\e64d";
}

.icon-Refresh:before {
  content: "\e673";
}

.icon-screen-full:before {
  content: "\e614";
}

.icon-liulanqi:before {
  content: "\e62d";
}

.icon-caiwu:before {
  content: "\e699";
}

.icon-delete:before {
  content: "\e62c";
}

.icon-ads:before {
  content: "\e613";
}

.icon-gather:before {
  content: "\eba5";
}

.icon-device:before {
  content: "\e612";
}

.icon-jinyong:before {
  content: "\e73b";
}

.icon-qiyong:before {
  content: "\e60a";
}

.icon-add:before {
  content: "\e67b";
}

.icon-add1:before {
  content: "\e64a";
}

.icon-agent:before {
  content: "\e686";
}

.icon-beizhu:before {
  content: "\e651";
}

.icon-mobile:before {
  content: "\e604";
}

.icon-address:before {
  content: "\e60f";
}

.icon-yonghu:before {
  content: "\e671";
}

.icon-num:before {
  content: "\e712";
}

.icon-close:before {
  content: "\e609";
}

.icon-shouhou:before {
  content: "\e648";
}

.icon-yanhuo:before {
  content: "\e635";
}

.icon-quality:before {
  content: "\e672";
}

.icon-jixin2:before {
  content: "\eb94";
}

.icon-package:before {
  content: "\e6c6";
}

.icon-gongneng:before {
  content: "\e611";
}

.icon-radio-on:before {
  content: "\e6a7";
}

.icon-desc:before {
  content: "\e6f4";
}

.icon-chicun:before {
  content: "\e863";
}

.icon-watchgy:before {
  content: "\edf7";
}

.icon-pinpai:before {
  content: "\e602";
}

.icon-fenlei:before {
  content: "\e603";
}

.icon-zixunlist:before {
  content: "\e771";
}

.icon-kefu:before {
  content: "\e608";
}

.icon-jixin:before {
  content: "\e62b";
}

.icon-wechat:before {
  content: "\e610";
}

.icon-huodao:before {
  content: "\e629";
}

.icon-xingjiabi:before {
  content: "\e6b4";
}

.icon-songhuo:before {
  content: "\e6a4";
}

.icon-gouwu:before {
  content: "\e622";
}

.icon-right:before {
  content: "\e621";
}

.icon-home:before {
  content: "\e632";
}

.icon-wiki:before {
  content: "\e620";
}

.icon-zixun:before {
  content: "\e631";
}

.icon-review:before {
  content: "\e6c8";
}

.icon-sale:before {
  content: "\e601";
}

.icon-view:before {
  content: "\e692";
}

.icon-search:before {
  content: "\e728";
}

.icon-down:before {
  content: "\e61a";
}

.icon-up:before {
  content: "\e61e";
}

.icon-watch:before {
  content: "\e600";
}

.icon-houtai:before {
  content: "\e625";
}

.icon-sheji:before {
  content: "\e630";
}

.icon-yingxiao:before {
  content: "\e7c0";
}

.icon-shebei:before {
  content: "\e60e";
}

.icon-sanwei:before {
  content: "\e634";
}

.icon-opens:before {
  content: "\edcd";
}

.icon-duoduan:before {
  content: "\e656";
}

.icon-book:before {
  content: "\e6b0";
}

.icon-cms:before {
  content: "\e628";
}

.icon-shop:before {
  content: "\e693";
}

.icon-datasource:before {
  content: "\e60b";
}

.icon-kehuduan:before {
  content: "\e607";
}

.icon-guanfangmoban:before {
  content: "\e60c";
}

.icon-theme:before {
  content: "\e670";
}

.icon-zhuti:before {
  content: "\e626";
}

.icon-kuaijie:before {
  content: "\e68f";
}

.icon-banben:before {
  content: "\e71d";
}

.icon-liuyan:before {
  content: "\e627";
}

.icon-lanmu:before {
  content: "\e61f";
}

.icon-moxing:before {
  content: "\e636";
}

.icon-moban:before {
  content: "\e6ee";
}

.icon-ad:before {
  content: "\e60d";
}

.icon-quanxian:before {
  content: "\e70b";
}

.icon-setting1:before {
  content: "\e62a";
}

.icon-link:before {
  content: "\e624";
}

.icon-chajian:before {
  content: "\e68a";
}

.icon-pic:before {
  content: "\e61d";
}

.icon-system:before {
  content: "\e617";
}

.icon-plus:before {
  content: "\e61b";
}

.icon-user:before {
  content: "\e641";
}

.icon-setting:before {
  content: "\e66f";
}

.icon-sort:before {
  content: "\e61c";
}

.icon-items:before {
  content: "\e7f8";
}

.icon-temps:before {
  content: "\e606";
}

.icon-weixin:before {
  content: "\e615";
}

.icon-list:before {
  content: "\e623";
}

.icon-sas:before {
  content: "\e605";
}

.icon-auth:before {
  content: "\e616";
}

.icon-add-permissions:before {
  content: "\e618";
}

.icon-remove-permissions:before {
  content: "\e619";
}

.icon-chajian1:before {
  content: "\e69d";
}

.icon-model:before {
  content: "\e633";
}

.icon-database:before {
  content: "\e644";
}

