<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>[title]</title>
<meta name="keywords" content="[keyword]">
<meta name="description" content="[desc]">
<link href="__STATIC__/default/css/index_v3.css?v=3.2.1" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="__STATIC__/default/fonts/iconfont.css?v=3.2.1" media="all">
<link rel="shortcut icon" href="{$zhicms.coms_favicon}">
<script type="text/javascript" src="__STATIC__/default/js/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/common/layer/layer.js"></script>
<script type="text/javascript" src="__STATIC__/default/js/main.js?v1.0.2"></script>