<!DOCTYPE html>
<html>
<head>
  {include file="head" title="$title" keyword="$keyword" desc="$desc"/}
</head>
<body>
  {include file="header"/}
  <!-- top头部 End -->
  <div class="container">
    <!-- 会员中心左侧 -->
    <div class="Member-left">
        {include file="usermenu"/}
    </div>
    <!-- 会员中心左侧 End -->
    <!-- 右侧功能定位 -->
    <div class="Member-right">
      <div class="Ml-box uc-main-box">
          <div class="zp-conter zp-lister">
            <div class="zp-right-box">
                <h1 class="title">收益明细</h1>
            </div>
            <div class="zp-open" style="margin-top:15px;">
              <!-- 订单列表 -->
              <div class="zp-record-list news-list profit">
                <ul id="income"></ul>
                <div class="nodata" style="display: none;">
                  <i class="icon icon-nodata"></i>
                  <span class="msg">暂时没有内容</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 右侧功能定位 End -->
    </div>
  {include file="footer"/}
  <script>
    WCCE.income();
  </script>
  </body>
</html>