<!DOCTYPE html>
<html>
<head>
    {include file="head" title="$title" keyword="$keyword" desc="$desc"/}
    <link href="__STATIC__/default/css/login.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/default/css/verify.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="logo">
            <a href="/" rel="nofollow">
                <img src="{$zhicms.coms_logo}" alt="{$zhicms.coms_title}" width="100%"/>
            </a>
        </div>
        <div class="menu-right">
            <a href="/help" title="帮助中心">
                <i class="icon icon-help"></i>
                帮助中心
            </a>
        </div>
    </div>
    <div class="passport">
        <!-- 左边 -->
        <div class="ad-container">
            <img class="ad-login" src="{$zhicms.coms_login_banner}">
        </div>
        <!-- 左边 End -->
        <!-- 右边 -->
        <div class="sign-up">
            <div class="sign-normal">
                <div class="sign-more qrcode-img" data-id="1"></div>
                <!-- tab切换 -->
                <div class="sign-up-tab">
                    <ul>
                        <li class="current"><span>账号登录</span></li>
                        <li><span>注册账号</span></li>
                    </ul>
                </div>
                <div class="sign-up-bar">
                    <!-- 账号登录 -->
                    <div class="sign-up-item" style="display:block;">
                        <input type="hidden" id="fromUrl" value="{:input('fromurl')}">
                        <div class="form-item">
                            <i class="icon icon-phone"></i>
                            <input type="text" class="sign-inp" id="username" placeholder="请输入手机号码" maxlength="11">
                        </div>
                        <div class="form-item">
                            <i class="icon icon-lock"></i>
                            <input type="password" class="sign-inp" id="password" placeholder="请输入登录密码" maxlength="20">
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="WCCE.login()" class="btn-login">登 录</button>
                        </div>
                        <div class="form-link">
                            <div class="remember">
                                <input type="checkbox" id="is_rem" checked value="1"/> 记住我，7天内有效
                            </div>
                            <div class="btn-find">
                                <a href="/findme?fromurl={:input('fromurl')}" title="找回密码">忘记密码?</a>
                            </div>
                        </div>
                    </div>
                    <!-- 账号登录 Eed -->
                    <!-- 注册账号 -->
                    <div class="sign-up-item" style="display:none;">
                        <input type="hidden" id="from" value="{:cookie('site_id')}">
                        <input type="hidden" id="invite_uid" value="{:cookie('invite_uid')}">
                        <input type="hidden" id="rid" value="{:cookie('r_id')}">
                        <div class="form-item">
                            <i class="icon icon-phone"></i>
                            <input type="text" class="sign-inp" id="reUsername" placeholder="请输入手机号码" maxlength="11">
                        </div>
                        <div class="form-item">
                            <i class="icon icon-lock"></i>
                            <input type="password" class="sign-inp" id="rePassword" placeholder="请设置密码，建议数字+字母组合" maxlength="20">
                        </div>
                        <div class="form-item">
                            <i class="icon icon-yzm"></i>
                            <input type="text" class="sign-inp" maxlength="6" id="reCode" placeholder="请输入验证码" autocomplete="off">
                            <button id="btn-code" class="btn-code" onclick="WCCE.sendSms()">获取验证码</button>
                        </div>
                        <div id="panelCaptcha"></div>
                        <!-- 用户协议 -->
                        <div class="agree-link">注册表示同意
                            <a href="/about/{$zhicms.service_artice_id}" target="_blank">《用户服务协议》</a>和
                            <a href="/about/{$zhicms.privacy_artice_id}" target="_blank">《用户隐私条款》</a>
                        </div>
                        <!-- 用户协议 End -->
                        <div class="form-group">
                            <button type="button" onclick="WCCE.register()" class="btn-regiter">立即注册</button>
                        </div>
                        <!-- 其他方式登录 -->
                        <!--<div class="other-group" style="overflow:hidden;">-->
                        <!--<div class="other-label">-->
                        <!--<span>其他方式登录</span>-->
                        <!--</div>-->
                        <!--<div class="sns-login">-->
                        <!--<a href="javascript:void(0);" class="wechat" onclick="wxlogin();" title="微信登录">-->
                        <!--<i class="icon icon-wechat"></i>-->
                        <!--</a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!-- 其他方式登录 End -->
                    </div>
                    <!-- 注册账号 End -->
                </div>
                <!-- Tab End -->
            </div>
            <div class="sign-qrcode" style="display: none;">
                <div class="sign-more normal-img" data-id="2"></div>
                <div class="qrcode-title">微信登录</div>
                <div class="qrcode-bar">
                    <img src="" width="256px" height="256px" id="qrcode-img"/>
                </div>
                <div class="qrcode-tips">请使用微信扫一扫登录</div>
            </div>
        </div>
        <!-- 右边 End -->
    </div>
</div>
{include file="footer"/}
<script src="__STATIC__/default/js/crypto-js.js"></script>
<script src="__STATIC__/default/js/ase.js"></script>
<script src="__STATIC__/default/js/verify.js" ></script>
<!-- tab切换 -->
<script type="text/javascript">
    // 初始化验证码弹出式
    var baseUrl=window.location.protocol+'//'+window.location.host;
    $('#panelCaptcha').slideVerify({
        baseUrl:baseUrl,  //服务器请求地址, 默认地址为安吉服务器;
        mode:'pop',     //展示模式
        containerId:'btn-code',//pop模式 必填 被点击之后出现行为验证码的元素id
        imgSize : {       //图片的大小对象,有默认值{ width: '310px',height: '155px'},可省略
            width: '400px',
            height: '200px',
        },
        barSize:{
            width: '400px',
            height: '40px',
        },
        beforeCheck:function(){  //检验参数合法性的函数  mode ="pop"有效
            var mobile = $('#reUsername').val();
            var password = $('#rePassword').val();
            var filter = /^1(3|4|5|6|7|8|9)\d{9}$/;
            if (!mobile || !filter.test(mobile)) {
                layer.msg('请输入手机号码', {time: 1500});
                return false;
            }
            if (!password || password.length < 6 || password.length > 20) {
                layer.msg('请设置登录密码，长度为6~20个字符', {time: 1500});
                return false;
            }
            return true;
        },
        ready : function() {},  //加载完毕的回调
        success : function(params) { //成功的回调
           WCCE.sendSms(params.captchaVerification);
        },
        error : function() {}        //失败的回调
    });
    $('.sign-up-tab li').on('click', function () {
        $(this).addClass('current').siblings().removeClass('current');
        $('.sign-up-bar>div:eq(' + $(this).index() + ')').show().siblings().hide();
    });
    $('.sign-more').on('click',function () {
        var type=$(this).data('id');
        if(type==1){
            WCCE.getQrcode(function(){
                $('.sign-normal').hide();
                $('.sign-qrcode').show();
            });
        }else{
            $('.sign-normal').show();
            $('.sign-qrcode').hide();
        }
    });
</script>
</body>
</html>