<div class="Ml-box Ml-sbox">
    <div class="Ml-nav">
        <div class="zp-right-box">
            <h3 class="title"><a href="/user">用户中心</a></h3>
        </div>
    </div>
    <div class="Ml-nav">
        <div class="zp-right-box">
            <h3 class="title">我的资源</h3>
        </div>
        <div class="Bibox">
            <ul class="Ml-navList">
                <li><a href="/user/mycourse">资源列表</a></li>
                <li><a href="/user/myfav">收藏列表</a></li>
            </ul>
        </div>
    </div>
    <div class="Ml-nav">
        <div class="zp-right-box">
            <h3 class="title">会员中心</h3>
        </div>
        <div class="Bibox">
            <ul class="Ml-navList">
                <li>
                    <a href="/user/mysvip">开通会员</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="Ml-nav">
        <div class="zp-right-box">
            <h3 class="title">我的团队</h3>
        </div>
        <div class="Bibox">
            <ul class="Ml-navList">
                <li><a href="/user/spread">推广中心</a></li>
                <li><a href="/user/cash">我的钱包</a></li>
            </ul>
        </div>
    </div>
    <div class="Ml-nav">
        <div class="zp-right-box">
            <h3 class="title">账号管理</h3>
        </div>
        <div class="Bibox">
            <ul class="Ml-navList">
                <li><a href="/user/info">个人信息</a></li>
                <li><a href="/user/pwd">修改密码</a></li>
            </ul>
        </div>
    </div>
</div>