<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title}</title>
    <meta name="keywords" content="{$keyword}">
    <meta name="description" content="{$desc}">
    <link href="__STATIC__/default/css/index_v3.css?v=3.2.1" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__STATIC__/default/fonts/iconfont.css?v=3.2.1" media="all">
    <link rel="shortcut icon" href="{$zhicms.coms_favicon}">
    <script type="text/javascript" src="__STATIC__/default/js/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__/common/layer/layer.js"></script>
    <script type="text/javascript" src="__STATIC__/default/js/main.js?v1.0.2"></script>
    <script type="text/javascript" src="__STATIC__/default/js/xgplayer.js"></script>
    <script type="text/javascript" src="__STATIC__/default/js/xgplayer.hls.js"></script>
</head>
<body>
{include file="header"/}
<!-- 面包削 -->
<div class="crumbs clearfix">
    <div class="crumbs-min">
        <a href="/" title="首页">首页</a> &gt;
        <a href="/course" rel="nofollow">全部</a> &gt;
        <a href="/course/list{$spread['sorts']['id']}" rel="nofollow">{$spread['sorts']['name']}</a> &gt;
        {$spread.title}
    </div>
</div>
<!-- 面包削End -->
<!-- 内容 -->
<div class="container">
    <!-- 播放区域 start -->
    <div id="play">
        <div class="containers">
            <div class="plays">
                <div id="video" class="player"></div>
                <!-- 这里是播放完毕后的提示语与操作 根据条件只显示一种-->
                <!-- 提示2(付费提示) -->
                <div class="tips tips-pay">
                    <small>本课程为付费课程，购买后可观看全部内容</small>
                    <i class="price">￥{$spread['re_price']>0?$spread['re_price']:$spread['price']}</i>
                    <a href="javascript:;" title="加入学习" class="btn btn-next btn-join" id="btn_buy">立即购买</a>
                </div>

                <!-- 提示4(需要登录) -->
                <div class="tips tips-login">
                    <small>本课程为免费试看课程，请登录后继续学习</small>
                    <a href="javascript:;" title="立即登录" class="btn btn-next btn-login" id="btn_login">立即登录</a>
                </div>
            </div>
            <!-- 右边课程目录 -->
            <div class="class-right">
                <div class="scller">
                    <div class="class-list">
                        <ul>
                            <li class="Jlist"><a href="javascript:;"><span>目录({$spread.video_num}节)</span></a></li>
                        </ul>
                    </div>
                    <ul class="zp-list">
                        {if $spread.type==4}
                            {volist name="spread.video_list" id="v"}
                                <li id="video_{$v['id']}" {if $vid==$v.id}class="zsp{$key+1} on"{else/} class="zsp{$key+1}"{/if}>
                                    <a href="/course/video/{$spread['id']}/s{$v['id']}"  title="{$v.title}" class="zp_lin" rank="0">
                                        <div class="name"><i class="icon icon-bofang2"></i>{$v.title}</div>
                                        <div class="info">
                                            {if !empty($v.times)}<span class="shipin">{$v.times}</span>{/if}
                                            <span class="Ffei">
                                                {if $spread.is_auth==0}
                                                    {if $v.is_try==1}
                                                        <em class="Mfei">试看</em>
                                                    {/if}
                                                {/if}
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            {/volist}
                            <script>
                                WCCE.videoPlay('{$spread.id}','{$vid}','{$spread.thumb}');
                            </script>
                        {else /}
                            <li class="zsp1 on">
                                <a href="javascript:;" onclick="WCCE.singlePlay('{$spread.link}');" title="{$spread.title}" class="zp_lin" rank="0">
                                    <div class="name"><i class="icon icon-bofang2"></i>{$spread.title}</div>
                                </a>
                            </li>
                            <script>
                                WCCE.videoPlay('{$spread.id}','0','{$spread.thumb}');
                            </script>
                        {/if}
                    </ul>
                </div>
            </div>
            <!-- 右边课程目录 End -->
        </div>
    </div>
    <!-- 播放区域 end -->
    <!-- 推荐课程 -->
    <div class="recommend">
        <h3 class="recommend-title">推荐课程</h3>
        <div class="recommend-row">
            {volist name="$topInfo" id="item"}
                <div class="recommend-item">
                    <a href="/course/show/{$item['rid']}.html" class="link" title="{$item['title']}" target="_blank">
                        <img class="course-thumb lazy-img" data-original="{$item['thumb']}" src="{$item['thumb']}" style="display: block;">
                        <div class="course-card">
                            <h3 class="course-title">{$item['title']}</h3>
                            <div class="course-labels">
                                <label class="labels">{:getLevelLabel($item['level'])}</label>
                                {volist name=":getSortAttr($item['rid'])" id="v"}
                                <label class="label">{$v.name}</label>
                                {/volist}
                            </div>
                            <div class="course-desc">
                                <span class="course-price">
                                    {if $item['price']>0}
                                        <em class="price">￥{$item['price']}</em>
                                    {else/}
                                        <em class="price">免费</em>
                                    {/if}
                                    <em class="cost-price">￥{$item['dis_price']}</em>
                                </span>
                                <em class="sales">{$item['sales']}{$zhicms.sale_unit_text}</em>
                            </div>
                        </div>
                    </a>
                </div>
            {/volist}
        </div>
    </div>
</div>
{include file="footer"/}
<script>
    $('#btn_buy').on('click',function(){
        var id='{$spread.id}';
        window.location.href='/paycenter/order?id='+id;
    });
    $('#btn_login').on('click',function(){
        window.location.href='/login?fromurl='+encodeURIComponent(window.location.href);
    });
</script>
</body>
</html>