{include file="common/head"/}
<style>
.layui-table-cell{height: inherit;}
</style>
<div class="layui-fluid">
    <div class="admin-head">
        <ul>
            <li class="on">余额明细</li>
        </ul>
    </div>
    <div class="table-body">
        <table id="list" lay-filter="list"></table>
    </div>
</div>
{include file="common/foot"/}
<script>
    layui.use(['table','element','laydate'],function(){
        var table = layui.table, $ = layui.jquery;
        var tableIn = table.render({
            id: 'list',
            elem: '#list',
            url: '{:createUrl("bill")}?ids={:input("ids")}',
            toolbar:'#table-toolbar',
            method:'post',
            page:true,
            cols: [[
                {field:'type',title: '余额类型',align:'center',templet:function(d){
                    if(d.type==1){
                        return '资源';
                    }else if(d.type==2){
                        return '会员';
                    }else if(d.type==3){
                        return '提现';
                    }else{
                        return '充值';
                    }
                }},
                {field: 'mode',title:'类型',align:'center',templet:function(d){
                    if(d.mode==1){
                        return '增加';
                    }else{
                        return '减少';
                    }
                }},
                {field: 'before',title:'变更前',align:'center'},
                {field: 'money',title:'金额',align:'center'},
                {field: 'after',title:'变更后',align:'center'},
                {field: 'remark',title:'备注',align:'center'},
                {field: 'ctime', align: 'center',title: '发布时间'},               
            ]]
        });
    })
</script>