{include file="common/head"/}
<body>
<style>
	html,body{
		background-color:#fff;
	}
</style>
	<div class="layui-fluid" style="padding-top:20px;">
		<form class="layui-form layui-form-pane">
			<div class="layui-form-item">
				<label class="layui-form-label">用户名</label>
				<div class="layui-input-inline from-inline-5">
					<input type="text" name="username" lay-verify="required" lay-reqText="请设置用户名" maxlength="15" placeholder="请输入用户名" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">登录密码</label>
				<div class="layui-input-inline from-inline-5">
					<input type="password" name="password" lay-verify="required" lay-reqText="请设置密码" maxlength="20" class="layui-input" autocomplete="off" placeholder="请设置密码">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">联系人</label>
				<div class="layui-input-inline from-inline-5">
					<input type="text" name="realname" lay-verify="required" lay-reqText="请输入联系人" placeholder="请输入联系人" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">联系电话</label>
				<div class="layui-input-inline from-inline-5">
					<input type="text" name="mobile" lay-verify="required" lay-reqText="请输入联系电话" placeholder="请输入联系电话" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="sub">立即入驻</button>
				</div>
			</div>
		</form>
	</div>
{include file="common/foot"/}	
	<script>
layui.use(['form'], function(){
  var $ = layui.jquery,form = layui.form; //Tab的切换功能，切换事件监听等，需要依赖element模块
  form.on('submit(sub)', function(data){
  	loading = layer.load(1, { shade: [0.1, '#fff'] });
  	$.post('',data.field,function(res) {
  		layer.close(loading);
        if (res.status === 200){
            layer.msg(res.msg, { icon: 1, time: 1000 }, function () {
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index);//再执行关闭
            });
        } else {
            layer.msg(res.msg, { icon: 2, time: 1000 });
        }
  	});
	return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	}); 
});
</script>
</body>
