{include file="common/head"/}
<style>
.layui-table-cell{height: inherit;}
</style>
<div class="layui-fluid">
    <div class="admin-head">
        <ul>
            <li class="on">特权列表</li>
        </ul>
    </div>
    <div class="table-body">
        <div class="search-tool">
            <form class="layui-form">
                <div class="layui-inline">
                    <input type="text" class="layui-input" placeholder="检索日期" id="ondate" style="width:200px;">
                    <span class="item-icon"><i class="layui-icon layui-icon-date"></i></span>
                </div>
                <div class="layui-inline">
                    <select id="online" lay-filter="onstatus">
                        <option value="">状态</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" class="layui-input" placeholder="搜索内容" id="search" style="width:200px;" />
                    <span class="item-icon" id="onsearch"><i class="icon icon-search"></i></span>
                </div>
            </form>
            <div class="func-btn" id="func-btn">
                <a href="javascript:;" class="layui-btn layui-bg-blue layui-btn-small add">
                    <i class="layui-icon layui-icon-addition"></i>
                    新增特权
                </a>
            </div>
        </div>
        <table id="list" lay-filter="list"></table>
    </div>
</div>
{include file="common/foot"/}
<script type="text/html" id="action">
    <a class="layui-btn layui-btn-sm" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>
        {:lang('edit')}
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del" title="{:lang('del')}">
        <i class="layui-icon layui-icon-delete"></i>
        {:lang('del')}
    </a>
</script>
<script type="text/html" id="status">
    <input type="checkbox" name="status" id="{{d.id}}" lay-filter="status" value="{{d.status}}" lay-skin="switch" lay-text="开启|禁用" {{ d.status==1 ? 'checked':'' }}>
</script>
<script type="text/html" id="table-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn" lay-event="openAll"><i class="icon icon-qiyong"></i> 批量启用</button>
        <button class="layui-btn" lay-event="closeAll"><i class="icon icon-jinyong"></i> 批量禁用</button>
        <button class="layui-btn layui-btn-danger" lay-event="delAll"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
    </div>
</script>
<script>
    layui.use(['table','element','form','laydate'],function(){
        var table = layui.table, $ = layui.jquery,laydate = layui.laydate,form=layui.form,element = layui.element;
        var tableIn = table.render({
            id: 'list',
            elem: '#list',
            url: '{:createUrl("privilege")}',
            toolbar:'#table-toolbar',
            method:'get',
            page:true,
            response:{
                statusName:'status',
                statusCode:200,
                msgName:'msg',
                countName:'total',
                dataName:'data',
            },
            cols: [[
                {type: 'checkbox',title:'ID',align:'center',width:50},
                {field: 'id',title: 'ID',align:'center',width:60},
                {field: 'name',title: '特权名称',align:'center',width:140},
                {field: 'url',title:'图标',align:'center',width:90,templet:function(d){
                    if(d.url){
                        return '<img src="'+d.url+'" width="48px" height="48px"/>';
                    }else{
                        return '<img src="__ADMIN__/images/default.png"  width="48px" height="48px"/>';
                    }
                }},
                {field: 'type',title:'类别',align:'center',width:120,templet:function(d){
                    if(d.type==1){
                        return '资源级别';
                    }else if(d.type==2){
                        return '资源数量';
                    }else if(d.type==3){
                        return '资源分类';
                    }else if(d.type==4){
                        return '站内广告';
                    }else if(d.type==5){
                        return '分销佣金';
                    }else if(d.type==6){
                        return '注册奖励';
                    }
                }},
                {field:'',title: '特权规则',width:260,align:'center',templet:function(d){
                    if(d.type==1){
                        var str='';
                        for(let i in d.rule){
                            str+='<a class="layui-btn layui-bg-blue layui-btn-xs">'+d.rule[i].name+'</a>';
                        }
                        return str;
                    }else if(d.type==2){
                        return '<a class="layui-btn layui-bg-blue layui-btn-xs">数量:'+d.rule+'</a>';
                    }else if(d.type==3){
                        var str='';
                        for(let i in d.rule){
                            str+='<a class="layui-btn layui-bg-blue layui-btn-xs">'+d.rule[i].name+'</a>';
                        }
                        return str;
                    }else if(d.type==4){
                        if(d.rule.status==0){
                            return '<a class="layui-btn layui-bg-blue layui-btn-xs">无广告</a>';
                        }else if(d.rule.status==1){
                            return '<a class="layui-btn layui-bg-blue layui-btn-xs">有广告</a>';
                        }
                    }else if(d.type==5){
                        var html='<a class="layui-btn layui-bg-blue layui-btn-xs">一级:'+d.rule.sell+'</a>';
                        {if config('setting.commission_fee')=='2'}
                            html+='<a class="layui-btn layui-bg-blue layui-btn-xs">二级:'+d.rule.sell2+'</a>';
                        {/if}
                        return html;
                    }else if(d.type==6){
                        return '<a class="layui-btn layui-bg-blue layui-btn-xs">奖励:'+d.rule+'</a>';
                    }
                }},
                {field: 'desc',title: '特权描述',align:'center',width:240},
                {field: 'status',align: 'center',title: '{:lang("status")}',width: 100,toolbar: '#status'},
                {field: 'ctime',title: '添加时间',align:'center',width:150},
                {align: 'center',toolbar:'#action',width:220}
            ]]
        });
        //选择日期
        laydate.render({
            elem: '#ondate',
            range: '-',
            done:function(value, date, endDate){
                dateVal=value, statusVal=$('#onstatus').val(),searchVal=$('#search').val();
                var params={};
                if(statusVal){
                    params['status']=statusVal
                }
                table.reload('list',{
                    where:{
                        date:dateVal,
                        search:searchVal,
                        filter:JSON.stringify(params)
                    }
                });
            }
        });
        //下拉选项
        form.on('select(onstatus)', function(data){
            dateVal=$('#ondate').val(),statusVal=data.value,searchVal=$('#search').val();
            var params={};
            if(statusVal){
                params['status']=statusVal
            }
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:JSON.stringify(params)
                }
            });
        });
        //搜索关键字
        $('#onsearch').on('click',function(e){
            dateVal=$('#ondate').val(),statusVal=$('#onstatus').val(),searchVal=$('#search').val();
            var params={};
            if(statusVal){
                params['status']=statusVal
            }
            table.reload('list',{
                where:{
                    date:dateVal,
                    search:searchVal,
                    filter:JSON.stringify(params)
                }
            });
        });
        $("#func-btn .add").on('click',function (){
            layer.open({
                title:'添加特权',
                type:2,
                maxmin: true,
                content:'{:createUrl("saveprivilege")}',
                area:['90%','570px'],
                end:function(){
                    tableIn.reload();
                }
            });
        });
        //启用禁用
        form.on('switch(status)',function(data){
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            var status=data.elem.value===1 ? 0 : 1;
            $.post('{:createUrl("setPriUp")}',{'ids':data.elem.id,'params':'{"status":"'+status+'"}'},function(res){
                layer.close(loading);
                if(res.status ===200){
                    data.elem['value']=status;
                    return false;
                }else{
                    layer.msg('操作失败！', {time: 1000, icon: 2});
                    return false;
                }
            });
        });
        //行列表操作项事件
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if(obj.event === 'edit'){
                layer.open({
                    title:'编辑特权',
                    type:2,
                    maxmin: true,
                    content:'{:createUrl("saveprivilege")}?ids='+data.id,
                    area:['90%','570px'],
                    end:function(){
                        tableIn.reload();
                    }
                });
            }else if(obj.event === 'del'){
                layer.confirm('确定删除吗',{icon: 3},function(index){
                    $.post("{:createUrl('delprivilege')}?ids="+data.id,function(info){
                        if(info.status==200){
                            layer.msg(info.msg,{anim:0},function(){
                                tableIn.reload();
                            });
                        }else{
                            layer.msg(info.msg);
                        }                        
                    });
                });
            }
        });
        //头工具栏事件批量操作---删除
        table.on('toolbar(list)', function(obj){
            var checkStatus = table.checkStatus('list');
            var ids = [];
            $(checkStatus.data).each(function (i, o){
                ids.push(o.id);
            });
            if(ids.length===0){
                layer.msg('请选择特权后再操作', {time: 1000, icon: 2});
                return false;
            }
            switch(obj.event){
                case 'openAll':
                    var loading = layer.load(1,{shade: [0.1, '#fff']});
                    $.post("{:createUrl('setPriUp')}",{ids:ids,params:'{"status":1}'},function (res){
                        layer.close(loading);
                        if(res.status === 200){
                            layer.msg('操作成功', {time: 1000, icon: 1});
                            tableIn.reload();
                        }else{
                            layer.msg(res.msg, {time: 1000, icon: 2});
                        }
                    });
                    break;
                case 'closeAll':
                    var loading = layer.load(1,{shade: [0.1, '#fff']});
                    $.post("{:createUrl('setPriUp')}",{ids:ids,params:'{"status":0}'},function (res){
                        layer.close(loading);
                        if (res.status === 200){
                            layer.msg('操作成功', {time: 1000, icon: 1});
                            tableIn.reload();
                        } else {
                            layer.msg(res.msg, {time: 1000, icon: 2});
                        }
                    });
                    break;
                case 'delAll':
                    var loading = layer.load(1,{shade: [0.1, '#fff']});
                    $.post("{:createUrl('delprivilege')}",{ids:ids}, function (res) {
                        layer.close(loading);
                        if (res.status === 200){
                            layer.msg(res.msg, {time: 1000, icon: 1});
                            tableIn.reload();
                        } else {
                            layer.msg(res.msg, {time: 1000, icon: 2});
                        }
                    });
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':

                    break;
            }
        });
    });
</script>